/*RESET IMPO*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*GOOGLE FONT*/
html {
    font-family: 'Lato', sans-serif;
    background-color: #f6f8f9;
}

/* HEADER */

header {
    position: relative;
    height: 80px;
    background-color: white;
}

#logo,
h1 {
    position: absolute;
    top: 15px;
}

#logo {
    left: 20px;
}

h1 {
    font-size: 40px;
    left: 75px;
}

/* MAIN */
#container {
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    border-radius: 8px;
    height: 1000px;
    background-color: white;
}

/* app header */

#app_header {
    height: 50px;
    background-color: white;
    padding: 8px;
    border-radius: 8px 8px 0 0;
}

#button_container {
    margin-left: 30px;
}

#button_container>button {
    padding: 8px;
    border-radius: 5px;
}

.blue_button {
    background-color: #47adf1;
    color: white;
    border: none;
}

.white_button {
    background-color: white;
    color: grey;
    border: 1px solid lightgrey;
}

/*app main*/
#newtask,
#today,
#upcoming {
    padding: 40px;
    padding-bottom: 0px;
}

section>p {
    line-height: 25px;
}

/*checkmark + x*/
.checkmark {
    color: #5dbca4;
    border-radius: 100%;
    border: 1px solid #5dbca4;
    padding: 1px 5px;
    margin-right: 10px;
}

.multiplicationx {
    color: red;
    border-radius: 100%;
    border: 1px solid red;
    padding: 1px 5px;
    margin-right: 10px;
}

/*category*/
.category {
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-size: 10px;
    margin-left: 5px;
}

.editorial_category {
    background-color: #47adf1;
}

.q1goals_category {
    background-color: #9c72e4;
}

.recruiting_category {
    background-color: #64c0a9;
}

.mobile_category {
    background-color: #f29e33;
}

.website_category {
    background-color: #d863a1;
}

.sales_category {
    background-color: #b0c926;
}

.task {
    margin-top: 10px;
}