/*RESET IMPO*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*GOOGLE FONT*/
html {
    font-family: 'Lato', sans-serif;
}

/* HEADER */

header {
    position: relative;
    height: 80px;
}

#logo,
h1 {
    position: absolute;
    top: 15px;
}

#logo {
    left: 20px;
}

h1 {
    font-size: 40px;
    left: 75px;
}